@page
@model SejlBåd.Pages.SailingClassPages.GetAllSailingClassesModel
@{
}

<center><h1>Sejladshold</h1></center>
<br />
<div>
 	<div class="container-fluid p-0 overflow-hidden">
		<div class="row g-0">
			<div lc-helper="background" class="col-lg-6 order-lg-2 " style="min-height: 45vh; background-size: cover; background-position: center; background-image: url('https://i.imgur.com/P4CWyCc.png');">
			</div>
			<div class="col-lg-6 order-lg-1 my-auto px-5 py-5">
				<div class="lc-block">
					<div editable="rich">
						<h3>Junior Sejlads</h3>
						<p class="lead">
							Hver Torsdag fra klokken 17:00 træner juniorsejlerne

							Der sejles i optimistjoller, Feva og Laserjoller under kyndig ledelse af kompetente instruktører

							Har du lyst til at lære at sejle, så mød op i klubben torsdage klokken 17:00.
						</p>
						<td>
							<a class="btn btn-primary btn-sm" type="button" title="Tilmeld dig her" asp-page="RegistreToJunior">Tilmeld dig her</a>
						</td>
					</div>
				</div>
			</div>
		</div>

		<div class="row g-0">
			<div lc-helper="background" class="col-lg-6" style="min-height: 45vh; background-size: cover;background-position: center; background-image: url('https://i.imgur.com/gOtL9NP.png');"> 
			</div>
			<div class="col-lg-6 my-auto px-5 py-5">
				<div class="lc-block">
					<div editable="rich">
						<h3>Senior Sejlads</h3>
						<p class="lead">
							Hver torsdag fra klokken 17:00 træner og hygger seniorsejlerne.

							Der sejles i klubbens tre Lynæs-14 kølbåde, i klubbens Wayfarer og i klubbens fem Laserjoller.

							Desuden er der private joller med i sejladserne.

							Har du lyst til at lære at sejle, så mød op i klubben torsdage kokken 17:00
						</p>
						<td>
							<a class="btn btn-primary btn-sm" type="button" title="Tilmeld dig her" asp-page="RegistreToSenior">Tilmeld dig her</a>
						</td>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
