@page
@model SejlBåd.Pages.SailingClassPages.GetSailingCLassJuniorsModel
@{
}


<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Navn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Dato
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.JuniorSC != null)
        {
            foreach (var junior in Model.JuniorSC)
            {
                <tr>
                    <td>
                        @junior.FirstName
                    </td>
                    <td>
                        @junior.LastName
                    </td>
                    <td>
                        @junior.Email
                    </td>
                    <td>
                        @junior.Tlf
                    </td>
                </tr>
            }
        }
    </tbody>
</table>