@page
@model SejlBåd.Pages.MemberPages.AccountModel
@{
}

<h2>This page will contain user settings</h2>
<h3>to get userid use "Pages/MemberPages/LoginPageModel.LoggedInMember.userId"</h3>
<h4>Also for some reason you cannot use the nav bar for memberpages when currently on a memberpage -.-</h4>