.BookBoat 
{
    font-size: 16px;
    text-align: center;
}


.Boksboks {
    background-color: lightblue;
    display: inline-block;
    margin: 10px;
    max-width: 300px;
    border-radius: 5px;
    text-align: left;
}

.Boksboks-images
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 300px;
    height: 200px;
}
.Boksboks p
{
    padding: 15px; 
}

.boksboks-paragraf-titel
{
    text-align: center;
    font-size: 20px;
    
}

