body {

}

.table-custom{
}


.rent-boat-site label{
    width: 120px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(20, 20, 20);
    font-size: 18px;
    text-align: right;
}

.rent-boat-site input {
    border-color: rgb(128, 128, 128);
    margin: 10px;
    position: relative;
    box-shadow: 5px 5px rgb(104, 198, 248);
    border-radius: 3px;
}

.payment-method {
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}


.renter-info {

    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.rent-boat-site {
    text-align: left;
    min-width: 500px;
    max-width: 800px;
    margin: 50px 250px 50px 250px;
    background-color: #ADD8E6;
    padding: 50px;
    padding-bottom: 100px;
    border-radius: 5px;
}

#renter-name{
    display:inline-block;
    width: 100%;
    text-align: unset;

}
