body {

}

.table-custom{
}

.payment-method {
    background-color: red;
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.payment-method input, label{
    margin: 10px;
}

.renter-info {
    background-color: green;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.rent-boat-site {
    text-align: center;
    min-width: 500px;
    max-width: 800px;
    margin: 50px 250px 50px 250px;
    background-color: lightblue;
    border-radius:5px;
    padding: 100px;
}

#renter-name input {
    width: 25%;
    box-shadow: 5px 10px darkblue;

}

#renter-name label {

}

#renter-name{
    display:block;
    background-color:blue;
    width: 100%;
    text-align: unset;

}

