body {

}

.table-custom{
}

.payment-method {
    background-color: red;
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.renter-info {
    background-color: green;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.rent-boat-site {
    text-align: center;
    min-width: 500px;
    max-width: 800px;
    margin: 50px 250px 50px 250px;
    background-color: gray;
    padding: 200px;
}

#renter-name input {
    width: 25%;
}

#renter-name label {
    color: red;
    font-size: 10px;
}

#renter-name{
    display:block;
    background-color:blue;
    width: 100%;
    text-align: unset;

}