@page
@model SejlBåd.Pages.Account.Register.AccountCreatedNoticeModel
@{
}


<h2>Grats on new account</h2>

<a class="btn btn-primary btn-lg" asp-page="/Index">Home</a>

<label asp-for="Account.Email"></label>
<input asp-for="Account.Email" readonly ="@true"/>