@page
@model SejlBåd.Pages.Account.Register.AccountCreatedNoticeModel
@{
}


<div class="account-page-container">
    <h2>Welcome to Hillerod Sejlklub!</h2>
    <h3>Username: @Model.Account.UserName</h3>
</div>
<br />
<center><a class="btn btn-primary btn-lg" asp-page="/Account/Login">Go to Login</a></center>

