@page
@model SejlBåd.Pages.Account.Register.EmailAndPhoneNumModel
@{
}
<h2>emailandphonenumpage</h2>


<form method="post">
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" required />
    </div>
    <div>
        <label asp-for="PhoneNum">PhoneNum:</label>
        <input asp-for="PhoneNum"  />
    </div>

    <button type="submit">Bekræft</button>
</form>