@page
@model SejlBåd.Pages.Account.Register.NameModel
@{
}

<h2>namepage</h2>

<form method="post">
    <div>
        <label asp-for="FirstName">FirstName:</label>
        <input asp-for="FirstName" required />
    </div>
    <div>
        <label asp-for="LastName">LastName:</label>
        <input asp-for="LastName" />
    </div>

    <button type="submit">Bekræft</button>
</form>