@page
@model SejlBåd.Pages.Account.Register.UserNameModel
@{
}

<h2>usernamepage</h2>

<form method="post">
    <div>
        <label asp-for="UserName">UserName:</label>
        <input asp-for="UserName" required />
    </div>


    <button type="submit">Bekræft</button>
</form>