@page
@model SejlBåd.Pages.DockSpotPages.CancelReservationModel
@{
    if (HttpContext.Session.GetString("UserRole") == "User")
    {
        ViewData["IsUser"] = true;
    }
    if (HttpContext.Session.GetString("UserRole") == "Admin")
    {
        ViewData["IsAdmin"] = true;
    }
}


<div class="alert alert-danger">
    <h5>Are You Sure You Want To Cancel The Reservation</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="ViewDockSpot">No</a>
    </form>
</div>