@page
@model SejlBåd.Pages.DockSpotPages.RentDockSpotModel
@{
}

<h2>Rent Dock Spot</h2>
<div class="rent-boat-site">
    <form method="Post">
        <div class="payment-method">
            <div>
                <label asp-for="Renter.CreditCardInfo.CardNumber"></label>
                <input asp-for="Renter.CreditCardInfo.CardNumber" />
                <span asp-validation-for="Renter.CreditCardInfo.CardNumber"></span>
            </div>
            <div>
                <label asp-for="Renter.CreditCardInfo.ExpirationDate"></label>
                <input asp-for="Renter.CreditCardInfo.ExpirationDate" />
                <span asp-validation-for="Renter.CreditCardInfo.ExpirationDate"></span>
            </div>
            <div>
                <label asp-for="Renter.CreditCardInfo.SecurityCode"></label>
                <input asp-for="Renter.CreditCardInfo.SecurityCode" />
                <span asp-validation-for="Renter.CreditCardInfo.SecurityCode"></span>
            </div>
        </div>
        <div class="renter-info">
            <div id="renter-name">
                <div>
                    <label asp-for="Renter.FirstName"></label>
                    <input asp-for="Renter.FirstName" />
                    <span asp-validation-for="Renter.FirstName"></span>
                </div>
                <div>
                    <label asp-for="Renter.LastName" ></label>
                    <input asp-for="Renter.LastName" />
                    <span asp-validation-for="Renter.LastName"></span>
                </div>
            </div>
            <div>
                <label asp-for="Renter.Email"></label>
                <input asp-for="Renter.Email" />
                <span asp-validation-for="Renter.Email" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Renter.Tlf"></label>
                <input asp-for="Renter.Tlf"/>
                <span asp-validation-for="Renter.Tlf" ></span>
            </div>
         </div>

        <p>
            <div class="form-control">
                <input type="submit" value="Rent" class="btn btn-primary" />
            </div>
        </p>

    </form>
</div>

<p>
    <a type="button" asp-page="ViewDockSpot">Return</a>
</p>