@page
@model SejlBåd.Pages.DockSpotPages.RentDockSpotModel
@{
}

<h2>Rent Dock Spot</h2>
<div class="rent-boat-site">
    <form method="Post">
        <div class="payment-method">
            <div>
                <label asp-for="CreditCard.CardNumber"></label>
                <input asp-for="CreditCard.CardNumber" />
                <span asp-validation-for="CreditCard.CardNumber"></span>
            </div>
            <div>
                <label asp-for="CreditCard.ExpirationDate"></label>
                <input asp-for="CreditCard.ExpirationDate" />
                <span asp-validation-for="CreditCard.ExpirationDate"></span>
            </div>
            <div>
                <label asp-for="CreditCard.SecurityCode"></label>
                <input asp-for="CreditCard.SecurityCode" />
                <span asp-validation-for="CreditCard.SecurityCode"></span>
            </div>
        </div>
        <div class="renter-info">
            <div id="renter-name">
                <div>
                    <label asp-for="Renter.FirstName"></label>
                    <input asp-for="Renter.FirstName" />
                    <span asp-validation-for="Renter.FirstName"></span>
                </div>
                <div>
                    <label asp-for="Renter.LastName" ></label>
                    <input asp-for="Renter.LastName" />
                    <span asp-validation-for="Renter.LastName"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Renter.Email" class="control-label"></label>
                <input asp-for="Renter.Email" class="form-control" />
                <span asp-validation-for="Renter.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renter.Tlf" class="control-label"></label>
                <input asp-for="Renter.Tlf" class="form-control" />
                <span asp-validation-for="Renter.Tlf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentPeriodStart" class="control-label"></label>
                <input asp-for="RentPeriodStart" class="form-control" />
                <span asp-validation-for="RentPeriodStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentPeriodEnd" class="control-label"></label>
                <input asp-for="RentPeriodEnd" class="form-control" />
                <span asp-validation-for="RentPeriodEnd" class="text-danger"></span>
            </div>
        </div>


        <p>
            <div class="form-control">
                <input type="submit" value="Rent" class="btn btn-primary" />
            </div>
        </p>

    </form>
</div>

<p>
    <a type="button" asp-page="ViewDockSpot">Return</a>
</p>