@page
@model SejlBåd.Pages.DockSpotPages.RentDockSpotModel
@{
}

<center><h1>Lej BådPlads</h1></center>
<div class="rent-boat-site">
    <form method="Post">
        <div class="payment-method">
            <div>
                <label asp-for="Customer.CreditCardInfo.CardNumber"></label>
                <input asp-for="Customer.CreditCardInfo.CardNumber" />
                <span asp-validation-for="Customer.CreditCardInfo.CardNumber"></span>
            </div>
            <div>
                <label asp-for="Customer.CreditCardInfo.ExpirationDate"></label>
                <input asp-for="Customer.CreditCardInfo.ExpirationDate" class="datetime-local" />
                <span asp-validation-for="Customer.CreditCardInfo.ExpirationDate"></span>
            </div>
            <div>
                <label asp-for="Customer.CreditCardInfo.SecurityCode"></label>
                <input asp-for="Customer.CreditCardInfo.SecurityCode" />
                <span asp-validation-for="Customer.CreditCardInfo.SecurityCode"></span>
            </div>
        </div>
        <div class="renter-info">
            <div id="renter-name">
                <div>
                    <label asp-for="Customer.FirstName"></label>
                    <input asp-for="Customer.FirstName" />
                    <span asp-validation-for="Customer.FirstName"></span>
                </div>
                <div>
                    <label asp-for="Customer.LastName"></label>
                    <input asp-for="Customer.LastName" />
                    <span asp-validation-for="Customer.LastName"></span>
                </div>
            </div>
            <div>
                <label asp-for="Customer.Email"></label>
                <input asp-for="Customer.Email" />
                <span asp-validation-for="Customer.Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Tlf"></label>
                <input asp-for="Customer.Tlf" />
                <span asp-validation-for="Customer.Tlf"></span>
            </div>
         </div>

        <p>
            <div id="rent-boat-site-rent-button">
                <input type="submit" value="Lej" class="btn btn-primary btn-lg" />
            </div>
        </p>

    </form>
    <p>
        <a type="button" asp-page="Index">gå tilbage</a>
    </p>
    <p>
        <a type="button" asp-page="RentDockSpotExistingCustomer" class="btn btn-secondary btn-lg">Har mail</a>
    </p>
</div>

