@page
@model SejlBåd.Pages.BlogPages.CreateNewBlogPostModel
@{
    if (HttpContext.Session.GetString("UserRole") == "User")
    {
        ViewData["IsUser"] = true;
    }
    if (HttpContext.Session.GetString("UserRole") == "Admin")
    {
        ViewData["IsAdmin"] = true;
    }
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
        color: #495057;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 8px;
        transition: border-color 0.3s ease;
    }

        .form-control:focus {
            border-color: #007bff;
            outline: none;
        }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
        transition: background-color 0.3s ease;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
            color: #fff;
        }

    .back-link-container {
        margin-top: 10px;
    }

    a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        a:hover {
            color: #0056b3;
        }
</style>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.BlogPost.BlogPostTitle" class="form-label">Titel:</label>
        <input asp-for="@Model.BlogPost.BlogPostTitle" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.BlogPost.BlogPostText" class="form-label">Tekst:</label>
        <textarea asp-for="@Model.BlogPost.BlogPostText" class="form-control" rows="12"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lav nyt indlæg</button>
    </div>
</form>

<div class="back-link-container">
    <a asp-page="/BlogPages/GetAllBlogPosts">Gå tilbage til bloggen</a>
</div>
