@page
@model SejlBåd.Pages.BlogPages.DeleteBlogPostModel
@{
}

<h1>Delete Confirmation></h1>
<div class="alert alert-danger">
    <h5>Er du sikker på du vil slette - '@Model.BlogPosts.BlogPostTitle'?</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Ja</button>
        <a class="btn btn-primary" asp-page="/BlogPages/GetAllBlogPosts">Nej</a>
    </form>
</div>