@page
@model SejlBåd.Pages.EventPages.CreateEventModel
@{
    if (HttpContext.Session.GetString("UserRole") == "User")
    {
        ViewData["IsUser"] = true;
    }
    if (HttpContext.Session.GetString("UserRole") == "Admin")
    {
        ViewData["IsAdmin"] = true;
    }
}

<form method="post">
    <div class="form-group">
        <label class="control-lable">Navnet på Begivenhed</label>
        <input asp-for="@Model.Event.EventName" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-lable">Beskrivelse af Begivenhed</label>
        <input asp-for="@Model.Event.EventDescription" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label class="control-lable">Dato på Begivenhed</label>
        <input asp-for="@Model.Event.EventDate" class="datetime-local" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Opret Begivenhed" class="btn btn-primary" />
    </div>
</form>