@page
@model SejlBåd.Pages.EventPages.DeleteEventModel
@{
}

<h1>Fjernelse af begivenhed</h1>
<div class="alert alert-danger">
    <h5>Er du sikker på at du vil fjerne begivenheden: @Model.events.EventName</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Ja</button>
        <a class="btn btn-primary" asp-page="/EventPages/Events">Nej</a>
    </form>
</div>