@page
@model SejlBåd.Pages.EventPages.ViewEventsModel
@{
}

@* Jeg mangler at lave table for alle events*@

<h3>Events</h3>

<table class="table">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Event Details</th>
            <th>Event Date</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>