@page
@model SejlBåd.Pages.Account.LoginModel
@{
}


<h2>loginpage</h2>


<form method="post">
    <div>
        <label asp-for="UserName">User Name:</label>
        <input asp-for="UserName" required/>
        <br />
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" required/>
    </div>

    <button type="submit">Login</button>
</form>

<p>
    <a type="button" asp-page="Register/DateAndCountry">Register</a>
</p>

