@page
@model SejlBåd.Pages.Account.LogoutModel
@{
    if (HttpContext.Session.GetString("UserRole") == "User")
    {
        ViewData["IsUser"] = true;
    }
    if (HttpContext.Session.GetString("UserRole") == "Admin")
    {
        ViewData["IsAdmin"] = true;
    }
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Log ud</h2>
                </div>
                <div class="card-body">
                    <center><p>Er du sikker på, at du vil logge ud?</p></center>
                    <form method="post">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Bekræft</button>
                            <a href="/Index">
                            <button type="button" class="btn btn-danger">Nej tak</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>