@page
@model SejlBåd.Pages.ContactPages.ThankYouMessageModel
@{
    if (HttpContext.Session.GetString("UserRole") == "User")
    {
        ViewData["IsUser"] = true;
    }
    if (HttpContext.Session.GetString("UserRole") == "Admin")
    {
        ViewData["IsAdmin"] = true;
    }
}

<center><h1>Tak for din besked!</h1></center>
<p>Vi vender tilbage hurtigst muligt med en besvarelse på din besked.</p>


<div class="back-link-container">
    <a asp-page="index">Gå tilbage til forsiden</a>
</div>