@page
@model SejlBåd.Pages.BoatPages.BoatsModel
@{
    if (HttpContext.Session.GetString("UserRole") == "User")
    {
        ViewData["IsUser"] = true;
    }
    if (HttpContext.Session.GetString("UserRole") == "Admin")
    {
        ViewData["IsAdmin"] = true;
    }
}

<center><h1>Junior</h1></center>
<br />

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Længde</th>
            <th>Bredde</th>
            <th>Bom</th>
            <th>Har bom</th>
            <th>Vægt</th>
            <th>Booked</th>
        </tr>
    </thead>
<tbody>
@if (@BoatsModel.BoatList != null)
{
    foreach( var boat in BoatsModel.BoatList)
    {
        <tr>
            <td>

                        @if (ViewData["IsAdmin"] == null)
                        {

                     <form method="post">
                         <button class="btn btn-primary btn-sm" type="submit" title="Lejbåd"  asp-route-id="@boat.Id">Book</button>
                     </form>
                        }
                     @if (ViewData["IsAdmin"] != null && (bool)ViewData["IsAdmin"])
                    
                        {
                            <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="BoatPages" asp-route-id="@boat.Id">Rediger</a>
                            <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="BoatPages" asp-route-id="@boat.Id">slet</a>
                        }
                        
            </td>
        </tr>
    }
}

</table>
<p>
    @if(ViewData["IsAdmin"] != null && (bool)ViewData["IsAdmin"])
    {
        <a class="btn btn-primary" asp-page="GetAllBoats"> Opret ny båd</a>
    }
</p>