@page
@model SejlBåd.Pages.BoatPages.CreateBoatModel
@{
}
<form method="post">
    <div class="form-group">
        <label class="control-lable">Id på båden</label>
        <input asp-for="@Model.Boat" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Type båd</label>
        <input asp-for="@Model.Boat" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Opret ny båd" class="btn btn-primary" />
    </div>
</form>