@page
@model SejlBåd.Pages.BoatPages.CreateBoatModel
@{
}
@* <form method="post">
    <div class="form-group">
 @*        <label class="control-lable">Id på båden</label> *@
        <label asp-for="@Model.Boat.BoatId" class="control-lable"></label>
        <input asp-for="@Model.Boat.BoatId" class="form-control" />
    </div>
    <div class="form-group">
@*         <label class="control-lable">Id på båden</label> *@
        <label asp-for="@Model.Boat.BoatName" class="control-lable"></label>
        <input asp-for="@Model.Boat.BoatName" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Tilføj ny båd" class="btn btn-primary" />
    </div>
</form>