@page
@model SejlBåd.Pages.BoatPages.CreateBoatModel
@{
}
<form method="post">
    <div class="form-group">
        <label class="control-lable">Id på båden</label>
        <input asp-for="@Model.Boat.BoatPages" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-lable">Beskrivelse af Begivenhed</label>
        <input asp-for="@Model.Boat.BoatPages" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label class="control-lable">Dato på Begivenhed</label>
        <input asp-for="@Model.Event.BoatPages" class="datetime-local" />
    </div>
    <br />
</form>