@page
@model SejlBåd.Pages.BoatPages.DeleteBoatModel
@{
    if (HttpContext.Session.GetString("UserRole") == "User")
    {
        ViewData["IsUser"] = true;
    }
    if (HttpContext.Session.GetString("UserRole") == "Admin")
    {
        ViewData["IsAdmin"] = true;
    }
}
<h1>Slet en båd</h1>
<div class="alert alert-danger">
    <h4>Er du sikker på, at du vil slette? @Model.juniorModel</h4>
    <form method="post">
        <button type="submit" class="btn btn-danger">Ja</button>
        <a class="btn btn-primary" asp-page="/BoatPages/Boats">Nej</a>
    </form>
</div>