@page
@model SejlBåd.Pages.BoatPages.GetAllBoatsModel
@{
}
<div class="BookBoat">
    <div class="Boksboks">
        <img class="Boksboks-images" src="https://rstera.dk/Tera.JPG" />
        <h5 class="boksboks-paragraf-titel">
                Junior fra 8-18 år
            
        </h5>
        <p>
            •	Længde 2.87 meter<br />
            •	Bredde 1.23 meter<br />
            •	Bom 2.08 meter<br />
            •	Top- og undermast 2.37 meter<br />
            •	Vægt 39kg<br /> <br />
            

            <strong>Der findes tre typer sejl til en Tera-jolle:</strong><br />
            •	Tera Mini : 2.7 m2<br />
            •	 Tera Sport : 3.7 m2<br />
            •	 Tera Pro : 4.8 m2<br />
        </p>
        <button>
            Tilmeld dig 
        </button>
        <p>
            Den månedlige betaling bliver trukket en gang om måned i sæsonen fra maj til oktober månederne. Det koster 0,- kr i oprettelse. 
        </p>

    </div>
    <div class="Boksboks">
        <img class="Boksboks-images" src="https://sailwest.com/wp-content/uploads/2021/04/RS-Feva.jpg" />
        <h5 class="boksboks-paragraf-titel">
            Voksne fra 18-35 år
        </h5>
        <p>
            •	Længde 3.65 meter<br />
            •	Bredde 2,5 meter<br />
            •	Bom 3.08 meter<br />
            •	Top- og undermast 3.5 meter<br />
            •	Vægt 69kg<br /> <br />
        </p>
        <button class="Boksboksbutton">
            Tilmeld dig
        </button>
        <p>
            Den månedlige betaling bliver trukket en gang om måned i sæsonen fra maj til oktober månederne. Det koster 0,- kr i oprettelse.
        </p>
    </div>

    <div class="Boksboks">
        <img class="Boksboks-images" src="https://www.holdsport.dk/media/W1siZiIsIjIwMjEvMDMvMjYvMTdkdngycXg0ZV9EU0NGNDMzOV8xMDI0eDY4Mi5qcGciXSxbInAiLCJlbmNvZGUiLCJqcGciXV0/DSCF4339-1024x682.jpg?sha=59d90133fbeb5270" />
        <h5 class="boksboks-paragraf-titel">
            Senior fra 35 år
        </h5>
        <p>
            •	Længde 4 meter<br />
            •	Bredde 2.23 meter<br />
            •	Bom 4.08 meter<br />
            •	Top- og undermast 3.37 meter<br />
            •	Vægt 75 kg<br /> <br />
        </p>
        <button>
            Tilmeld dig
        </button>
        <p>
            Den månedlige betaling bliver trukket en gang om måned i sæsonen fra maj til oktober månederne. Det koster 0,- kr i oprettelse.
        </p>
    </div>
</div>