@page
@model SejlBåd.Pages.BoatPages.LejbådModel
@{
}
<form method="post">
<div class="login-container">
    <div class="login-form-container">
        <h2>Indtast et account for at booke båd</h2>

            <div class="form-group">
                <label asp-for="UserName">Username:</label>
                <input asp-for="UserName" required />
            </div>
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" type="password" required />
            </div>
            <button type="submit">Lej Båd</button>

    </div>
</div>
</form>

<p>
    <a asp-page="Boats">Tilbage</a>
</p>